body {
  background-color: #f8f9fa;
  font-family: system-ui;
}

.travel-card {
  border: 1px solid #e0e0e0;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: 0.3s ease;
}

.travel-card:hover {
  transform: translateY(-6px);
}

.price {
  font-weight: bold;
  color: #198754;
}

h3 {
  color: #0d6efd;
}
