body {
  background-color: #f8f9fa;
  font-family: system-ui;
}

.custom-navbar {
  background-color: #0a6ebd !important;
  padding: 1rem 2rem;
}

.travel-card {
  border: 1px solid #e0e0e0;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: 0.3s ease;
  border-radius: 10px;
}

.travel-card:hover {
  transform: translateY(-6px);
}

.price {
  font-weight: bold;
  color: #198754;
}

h3 {
  color: #0a6ebd;
}
/* Navbar */
.custom-navbar {
  background-color: #0a6ebd; 
  padding: 1.2rem 2rem;     
  border-radius: 8px;      
  box-shadow: 0 4px 10px rgba(0,0,0,0.15); 
}

.custom-navbar .navbar-brand {
  color: #fff;
}

.custom-navbar .navbar-brand:hover {
  color: #ffe600; 

.custom-navbar .nav-link {
  color: #f8f9fa;
  font-weight: 500;
}

.custom-navbar .nav-link:hover {
  color: #ffe600; /* Hover effect */
}

.logo-icon {
  font-size: 1.3rem;
}
